[submodule "vue2/public/myapi01"]
	path = vue2/public/myapi01
	url = https://478a308f7b0c838ff8f0150f06000e854edeaeb1@github.com/apilabeyes/myapi01
[submodule "vue2/public/myapi"]
	path = vue2/public/myapi
	url = https://478a308f7b0c838ff8f0150f06000e854edeaeb1@github.com/apilabeyes/myapi
